<section class="song-search">
    <div class="search-form">
        <%= form_tag("/song/search", method: "get", id: "song-search") do %>
            <%= text_field_tag(:song_query)%>
                <% end %>
                    <button id="song_query_submit">Song Search</button>
    </div>
    <div id='search-results'>
    </div>
    <!--<%= link_to "Submit Request", request_index_path(test_param: "test_param"), method: :post %>-->
</section>