---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=20&q=all%20along%20the%20watchtower&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=all+along+the+watchtower&type=track&market=US&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/776Uo845nYHJpNaStv1Ds4"
                  },
                  "href" : "https://api.spotify.com/v1/artists/776Uo845nYHJpNaStv1Ds4",
                  "id" : "776Uo845nYHJpNaStv1Ds4",
                  "name" : "Jimi Hendrix",
                  "type" : "artist",
                  "uri" : "spotify:artist:776Uo845nYHJpNaStv1Ds4"
                } ],
                "available_markets" : [ "AD", "AR", "AT", "AU", "BE", "BG", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HN", "HU", "IE", "IS", "IT", "JP", "LI", "LT", "LU", "LV", "MC", "MT", "MX", "NI", "NL", "NO", "NZ", "PA", "PE", "PL", "PT", "PY", "SE", "SK", "SV", "TR", "US", "UY", "AD", "AR", "AT", "AU", "BE", "BG", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IS", "IT", "JP", "LI", "LT", "LU", "LV", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "PA", "PE", "PH", "PL", "PT", "PY", "SE", "SG", "SK", "SV", "TR", "TW", "US", "UY" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/5z090LQztiqh13wYspQvKQ"
                },
                "href" : "https://api.spotify.com/v1/albums/5z090LQztiqh13wYspQvKQ",
                "id" : "5z090LQztiqh13wYspQvKQ",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/bf44daf8c3f35de83e5875bc49791c1347ef36f0",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/b9f988b2164ef879c92175f7414726d77530a3a0",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/f4f6903d134ff489abbc7ea5545c6cd3a5cb51df",
                  "width" : 64
                } ],
                "name" : "Electric Ladyland",
                "type" : "album",
                "uri" : "spotify:a[...]
