---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "display_name" : null,
          "email" : "benjaminpjacobs+spotify@gmail.com",
          "external_urls" : {
            "spotify" : "https://open.spotify.com/user/another_benjamin_jacobs"
          },
          "followers" : {
            "href" : null,
            "total" : 0
          },
          "href" : "https://api.spotify.com/v1/users/another_benjamin_jacobs",
          "id" : "another_benjamin_jacobs",
          "images" : [ ],
          "type" : "user",
          "uri" : "spotify:user:another_benjamin_jacobs"
        }
  recorded_at: Mon, 10 Jul 2017 14:59:09 GMT
recorded_with: VCR 3.0.3
