---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/users/another_benjamin_jacobs/playlists/3B6onVfcQRLy40kGSzNgaP/tracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d02641f3526dd42032730b6d3e2e815d"'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/users/another_benjamin_jacobs/playlists/3B6onVfcQRLy40kGSzNgaP/tracks?offset=0&limit=100",
          "items" : [ {
            "added_at" : "2017-07-06T21:11:50Z",
            "added_by" : {
              "external_urls" : {
                "spotify" : "http://open.spotify.com/user/another_benjamin_jacobs"
              },
              "href" : "https://api.spotify.com/v1/users/another_benjamin_jacobs",
              "id" : "another_benjamin_jacobs",
              "type" : "user",
              "uri" : "spotify:user:another_benjamin_jacobs"
            },
            "is_local" : false,
            "track" : {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/4UXqAaa6dQYAk18Lv7PEgX"
                  },
                  "href" : "https://api.spotify.com/v1/artists/4UXqAaa6dQYAk18Lv7PEgX",
                  "id" : "4UXqAaa6dQYAk18Lv7PEgX",
                  "name" : "Fall Out Boy",
                  "type" : "artist",
                  "uri" : "spotify:artist:4UXqAaa6dQYAk18Lv7PEgX"
                } ],
                "available_markets" : [ "CA", "MX", "US" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/0EVJX4RlYKuApsAN5CaDa3"
                },
                "href" : "https://api.spotify.com/v1/albums/0EVJX4RlYKuApsAN5CaDa3",
                "id" : "0EVJX4RlYKuApsAN5CaDa3",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/e569c484377493bf8455b2b779d8f2189838c22f",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/6e0d658cdffcb777a9c62f86e00c8514a3fd7f06",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/c5ca3ef667a96928f374a917ee1316a43bfdfdb2",
                  "width" : 64
                } ],
                "name" : "Save Rock And Roll",
                "type" : "album",
                "uri" : "spotify:album:0EVJX4RlYKuApsAN5CaDa3"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/4UXqAaa6dQYAk18Lv7PEgX"
                },
                "href" : "https://api.spotify.com/v1/artists/4UXqAaa6dQYAk18Lv7PEgX",
                "id" : "4UXqAaa6dQYAk18Lv7PEgX",
                "name" : "Fall Out Boy",
                "type" : "artist",
                "uri" : "spotify:artist:4UXqAaa6dQYAk18Lv7PEgX"
              } ],
              "available_markets" : [ "CA", "MX", "US" ],
              "disc_number" : 1,
              "duration_ms" : 186826,
              "explicit" : false,
              "external_ids" : {
                "isrc" : "USUM71300299"
              },
              "external_urls" : {
                "spotify" : "https://open.spotify.com/track/7s0lDK7y3XLmI7tcsRAbW0"
              },
              "href" : "https://api.spotify.com/v1/tracks/7s0lDK7y3XLmI7tcsRAbW0",
              "id" : "7s0lDK7y3XLmI7tcsRAbW0",
              "name" : "My Songs Know What You Did In The Dark (Light Em Up)",
              "popularity" : 70,
              "preview_url" : null,
              "track_number" : 2,
              "type" : "track",
              "uri" : "spotify:track:7s0lDK7y3XLmI7tcsRAbW0"
            }
          }, {
            "added_at" : "2017-07-06T21:11:57Z",
            "added_by" : {
              "external_urls" : {
                "spotify" : "http://open.spotify.com/user/another_benjamin_jacobs"
              },
              "href" : "https://api.spotify.com/v1/users/another_benjamin_jacobs",
              "id" : "another_benjamin_jacobs",
              "type" : "user",
  [...]
