.login-button {
    width: 200px;
    height: 30px;
    border-style: none;
    border-radius: 10px;
    background-color: #1ec500;
    color: #ffffff;
    margin: 10px;
}

.login-button a {
    color: #ffffff
}

.login-button a:hover {
    color: #ffffff;
    text-decoration: none;
}

.request {
    color: #1ec500;
}