.playlists h2 {
    text-align: center;
    width: 100%;
    padding: 10px 0px 35px 0px;
}

.playlist-owner-id {
    display: none
}

.playlist-listing a {
    color: #ffffff;
}

.playlists {
    margin-top: 20px;
    width: 800px;
}

.playlist-listing,
#search-results {
    height: 800px;
    overflow: scroll;
}

#search-results {
    width: 500px;
}

td {
    min-width: 300px;
}

.actions {
    width: 300px;
}

.actions a,
.expand,
.select {
    margin: 0px 20px;
    color: #a7a8aa;
    font-weight: 100;
}

.playlist-title {
    margin: 0px 20px;
    color: #ffffff;
    font-weight: 100;
}

.actions a:hover,
.expand:hover,
.select:hover {
    text-decoration: none;
    color: #ffffff;
    font-weight: 200;
    cursor: pointer;
}